In [1]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt 
import os
# from tqdm.notebook import  tqdm
from tqdm import  tqdm
import talib
import sys
sys.path.append('../../DataSource/baostock')
import datasource

In [2]:
# 取得所有的额股票代码
codes = datasource.get_codes()

In [3]:
# 连续下跌后的涨停
code = codes[0]
dt = datasource.get_data(code)
dt['isDown'] = dt['close'] < dt['preclose']         # 是否是下跌
dt['isDown'] = dt['isDown'].apply(lambda x: 1 if x == True else None)
dt['isMaxUp'] = dt['close'] > dt['preclose'] * 1.05 # 是否是涨停
dt['isDown2'] = dt['isDown'].shift()                # 向后移动一天
# 我这里要筛选如果连续几天下跌
N = 3
dt['isDown3'] = dt['isDown2'].rolling(N).count()
# 我要寻找的是连续几天为这个值的然后涨停的
dt2 = dt[(dt['isDown3'] == N) & (dt['isMaxUp'] == True)]
dt2.head()

,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST,isDown,isMaxUp,isDown2,isDown3
date,,,,,,,,,,,,,,,,,
2010-06-09,sh.600000,4.192703,4.444409,4.115992,4.434820,4.171128,93220918,1.677857e+09,2,1.176158,1,6.321841,0,NaN,True,1.0,3.0
2015-08-26,sh.600000,6.428958,6.784710,6.301903,6.616998,6.296821,235214588,3.028239e+09,2,1.576212,1,5.084700,0,NaN,True,1.0,3.0
2021-03-30,sh.600000,8.865145,9.164812,8.840173,9.164812,8.723636,173447215,1.882441e+09,2,0.590900,1,5.057300,0,NaN,True,1.0,3.0

In [8]:
def downs_then_up(code:str, days:int, up_radio:float):
    # 经过多天下跌后涨停
    dt = datasource.get_data(code)
    dt['isDown'] = dt['close'] < dt['preclose']         # 是否是下跌
    dt['isDown'] = dt['isDown'].apply(lambda x: 1 if x == True else None)
    dt['isMaxUp'] = dt['close'] > dt['preclose'] * up_radio # 是否是涨停
    dt['isDown2'] = dt['isDown'].shift()                # 向后移动一天
    dt['closenext3'] = dt['close'].shift(-3)/dt['close']
    dt['closenext5'] = dt['close'].shift(-5)/dt['close']
    dt['closenext7'] = dt['close'].shift(-7)/dt['close']
    # 我这里要筛选如果连续几天下跌
    N = 2
    dt['isDown3'] = dt['isDown2'].rolling(days).count()
    # 我要寻找的是连续几天为这个值的然后涨停的
    dt2 = dt[(dt['isDown3'] == days) & (dt['isMaxUp'] == True)]
    # 这里需要看看需要哪一列
    return dt2.loc[:,['close', 'preclose', 'closenext3','closenext5', 'closenext7']]

In [18]:
lst_dt = []
days = 5
radio = 1.09
for i in tqdm(range(len(codes))):
    code = codes[i]
    dt_tmp = downs_then_up(code, days, radio)
    # 这里要筛选不是空值的。
    if not dt_tmp.empty:
        lst_dt.append(dt_tmp)

100%|██████████████████████████████████████████████████████████████████████████████| 5450/5450 [01:48<00:00, 50.31it/s]

In [19]:
dt_all = pd.concat(lst_dt)
dt_all.head()

                close   preclose  closenext3  closenext5  closenext7
date
2021-11-08  12.120220  11.097793    1.004914    1.024570    1.015561
2015-07-09   4.630000   4.210000    1.105832    1.006479    1.071274
2015-07-09   7.101064   6.456350    1.182879    1.089494    1.225681
2015-07-09   3.020325   2.745430    1.331389    1.232205    1.334889
2018-10-30  46.646682  42.684641    1.133891    1.091004    1.051464

In [29]:
dt_all.to_csv(f'连续{days}天下跌后上涨{radio}.csv')
print(len(dt_all))

4561

In [26]:
columns = ['closenext3', 'closenext5', 'closenext7']

In [27]:
for i in columns:
    print(f'{i}:{dt_all['closenext3'].sum()/len(dt_all)}')

closenext3:1.0699629801283748
closenext5:1.0699629801283748
closenext7:1.0699629801283748

In [24]:
for i in columns:
    print(f'{i}:{dt_all[i].median()}')

closenext3:1.0544522965297614
closenext5:1.0554019848522942
closenext7:1.0870413955577065

In [30]:
for i in columns:
    print(f'{i}:{dt_all[i].median()}, {dt_all[i].min()}, {dt_all[i].max()}')

closenext3:1.0544522965297614, 0.7285546415981199, 1.6724137931034484
closenext5:1.0554019848522942, 0.6123260437375745, 1.8235930735930737
closenext7:1.0870413955577065, 0.5063291139240507, 2.152173913043478