In [1]:
# 三大件
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# 更好的画图的
import seaborn as sns #要注意的是一旦导入了seaborn，matplotlib的默认作图风格就会被覆盖成seaborn的格式
%matplotlib inline

In [2]:
# 股票数据相关的库
import sys
import os
sys.path.append("../../FinanceDataSource")
import FinanceDataSource
from FinanceDataSource import session
from FinanceDataSource import stock_basics_table
from FinanceDataSource import stock_cashflow_data
from FinanceDataSource import stock_debtpaying_data
from FinanceDataSource import stock_growth_data
from FinanceDataSource import stock_operation_data
from FinanceDataSource import stock_operation_data
from FinanceDataSource import stock_profit_data
from FinanceDataSource import stock_report_data
from FinanceDataSource import get_fundamentals
from FinanceDataSource import func

# 寻找低估值股票1

我这里寻找的，打算从如下几个方面寻找。  
pe：市盈率：表tushare_stock_basics.pe    
pb：市净率：表tushare_stock_basics.pb    
基本每股收益 ：表tushare_stock_basics.esp    
利润同比增长 表：tushare_stock_basics.profit    
流动比率：企业流动资产与流动负债的比率  tushare_stock_debtpaying_data.currentratio  
速动比率：指的是速动资产跟流动负债的比率。速动资产=流动资产 - 存货 - 预付账款 - 待摊费用 tushare_stock_debtpaying_data.quickratio      
roe： 净资产收益率  tushare_stock_report_data.roe

In [29]:
# 我的做法，我打算先将符合流动比率和速动比率的企业筛选出来
min_currentratio=2
min_quickratio=1
sql_1="""
select code,name, sum(currentratio)/count(currentratio) as currentratio ,
sum(quickratio)/count(quickratio) as quickratio,
count(code) as count_code
from tushare_stock_debtpaying_data
where (year=2018 or year=2017)
group by code
having count_code > 2
and currentratio>{currentratio} 
and quickratio>{quickratio}""".format(currentratio=min_currentratio,quickratio=min_quickratio)
# 市盈率和市净率筛选，这个在总表中。
max_pe=25
max_pb=2
min_profit=0
sql_2="""
select code, pe, pb,profit 
from tushare_stock_basics 
where pe<{pe} and pb<{pb} and profit>{profit}
""".format(pe=max_pe,pb=max_pb,profit=min_profit)
min_roe=4
sql_3="""
select code,sum(roe)/count(roe) as roe,count(code) as count_code
from tushare_stock_report_data
where (year=2018 or year=2017)
group by code
having count_code > 2
and roe>{roe}
""".format(roe=min_roe)

In [30]:
# 如上就是3个表的sql。
# 我要把3个表合并成1个。
sql_all="""select s1.code,s1.currentratio,s1.quickratio,s2.pe,s2.pb,s2.profit,s3.roe 
from ({}) as s1 , ({}) as s2 , ({}) as s3 
where s1.code=s2.code and s2.code=s3.code""".format(sql_1,sql_2,sql_3)

In [31]:
df_all=get_fundamentals(sql_all)
df_all

2018-04-10 21:23:53,535 INFO sqlalchemy.engine.base.Engine DESCRIBE `select s1.code,s1.currentratio,s1.quickratio,s2.pe,s2.pb,s2.profit,s3.roe
from (
select code,name, sum(currentratio)/count(currentratio) as currentratio ,
sum(quickratio)/count(quickratio) as quickratio,
count(code) as count_code
from tushare_stock_debtpaying_data
where (year=2018 or year=2017)
group by code
having count_code > 2
and currentratio>2
and quickratio>1) as s1 , (
select code, pe, pb,profit
from tushare_stock_basics
where pe<25 and pb<2 and profit>0
) as s2 , (
select code,sum(roe)/count(roe) as roe,count(code) as count_code
from tushare_stock_report_data
where (year=2018 or year=2017)
group by code
having count_code > 2
and roe>4
) as s3
where s1.code=s2.code and s2.code=s3.code`
2018-04-10 21:23:53,542 INFO sqlalchemy.engine.base.Engine {}
2018-04-10 21:23:53,550 INFO sqlalchemy.engine.base.Engine ROLLBACK
2018-04-10 21:23:53,556 INFO sqlalchemy.engine.base.Engine select s1.code,s1.currentratio,s1.quickratio,s2.pe,s2.pb,s2.profit,s3.roe
from (
select code,name, sum(currentratio)/count(currentratio) as currentratio ,
sum(quickratio)/count(quickratio) as quickratio,
count(code) as count_code
from tushare_stock_debtpaying_data
where (year=2018 or year=2017)
group by code
having count_code > 2
and currentratio>2
and quickratio>1) as s1 , (
select code, pe, pb,profit
from tushare_stock_basics
where pe<25 and pb<2 and profit>0
) as s2 , (
select code,sum(roe)/count(roe) as roe,count(code) as count_code
from tushare_stock_report_data
where (year=2018 or year=2017)
group by code
having count_code > 2
and roe>4
) as s3
where s1.code=s2.code and s2.code=s3.code
2018-04-10 21:23:53,561 INFO sqlalchemy.engine.base.Engine {}

      code  currentratio  quickratio     pe    pb  profit        roe
0   000965      3.050550    1.525425  14.12  1.13   41.37   4.830000
1   600585      2.005800    1.749525  11.23  1.99   85.87  10.116667
2   002233      2.377525    2.084450  19.22  1.69   58.73   7.224000
3   600582      2.157475    1.725825  19.29  1.21    1.09   4.030000
4   600684      3.795350    1.764675  14.97  1.86    7.99   9.863333
5   300242      2.117375    2.117375  22.45  1.88    5.97   7.400000
6   000926      2.473167    1.250767   8.27  0.90   22.70   6.107500
7   002502     11.965900   10.218500  20.28  1.78   45.73   4.876667
8   600090      4.078067    3.718133  20.92  1.96   62.39   4.650000
9   000581      3.012133    2.678333   9.41  1.65   41.54   9.557500
10  002429      2.025075    1.725325  23.58  1.73   61.04   4.043333
11  000553      2.077900    1.561400  21.81  1.72  318.85   7.780000
12  000548      3.095400    1.397167  16.48  1.83  131.49   4.602500
13  000631      2.181350    1.447350  12.72  1.60  108.85   8.198333
14  600761      2.363225    1.840650  17.71  1.59    3.09   6.204000
15  603167      2.345000    2.221350  13.45  1.50   63.04   8.681667
16  603116      3.215333    2.315467  17.15  1.75   27.96   6.206667
17  601566      3.828733    2.927933  18.31  1.97    9.78   4.943333
18  000623      3.367875    2.850925  12.78  1.17   11.82   5.340000
19  600284      2.204450    1.633400  16.44  1.11    3.41   5.026667
20  600641      3.064033    1.976033   4.74  1.75  634.89  21.750000
21  000719      2.130500    1.796500  12.15  1.17    2.99   8.933334
22  601098      3.018700    2.726500  14.19  1.72    0.05   4.083333
23  300194      3.318975    2.348775  24.60  1.68   28.32   4.822000
24  000662      2.371325    2.327925  18.74  1.93   73.44   5.615000