我这个主要是寻找5日均线斜率最大的几只股票

In [1]:
import pandas as pd
import numpy as np
import talib
# import tqdm
from tqdm.notebook import tqdm

%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (15.0, 8.0) # 单位是inches

# 导入数据

In [3]:
data = pd.read_csv("../../数据获取/聚宽数据/最新数据.csv")
data=data.set_index(['Unnamed: 0', 'Unnamed: 1'])
print('共导入{}行数据,股票个数：{},平均每个股票的的数据量:{}'.format(
    len(data),
    len(data.index.levels[0]),
    len(data)//len(data.index.levels[0])
))
data.head()

共导入3704160行数据,股票个数：4136,平均每个股票的的数据量:895

                              date   open   high    low  close
Unnamed: 0  Unnamed: 1
000001.XSHE 0           2018-04-18  10.89  11.04  10.72  10.93
            1           2018-04-19  10.95  11.11  10.86  10.90
            2           2018-04-20  10.94  11.01  10.65  10.79
            3           2018-04-23  10.74  11.04  10.70  11.00
            4           2018-04-24  11.06  11.35  11.01  11.28

# 统计

## 函数

In [37]:
def rmse(y, y_hat):
    """
    返回预测序列相对于真值序列的标准差。
    Args:
        y:
        y_hat:

    Returns:

    """
    return np.sqrt(np.mean(np.square(y - y_hat)))
lst_errors = []
def slope(ts, err):
    """返回直线斜率。如果拟合误差大于err，则抛出异常
    """
    # 对ts进行归一化，以便斜率可以在不同的时间序列之间进行比较
    assert ts[0] != 0
    ts = ts / ts[0]
    x = np.arange(len(ts))
    z = np.polyfit(x, ts, deg=1)
    p = np.poly1d(z)

    ts_hat = np.array([p(xi) for xi in x])
    error = rmse(ts, ts_hat) / np.sqrt(np.mean(np.square(ts)))
    if error >= err:
        raise ValueError("can not fit into line")
        

    return z[0]

## 计算

In [38]:
lst_slopes = [] # 这里边的元素是元组，元组第一项是股票id，第二项是斜率
with tqdm(range(len(data.index.levels[0]))) as bar:
    for id in data.index.levels[0]:
        data_one = data.loc[id].copy() # 这个是每一个股票的数据
        # 上边的格式比较固定，遍历每一个股票,然后下边开始统计
        # 这里首先添加均线，并且只是最近的10天而已。
        ma = talib.MA(data_one['close'][-(5*2):], timeperiod=5)
        ma = np.array(ma[-5:])
        # 这里只是取得最新的5天数据
        try:
            _slope = slope(ma,0.1)
            lst_slopes.append(
                (id, _slope)
            )
        except:
            pass
        bar.update(1)

  0%|          | 0/4136 [00:00<?, ?it/s]

In [46]:
lst_slopes.sort(key=lambda x:x[1])
lst_slopes.reverse()

In [48]:
lst_slopes[:20]

[('000957.XSHE', 0.11612072999532064),
 ('000595.XSHE', 0.10383817427385908),
 ('002121.XSHE', 0.09622641509433968),
 ('600283.XSHG', 0.08649166789559062),
 ('000151.XSHE', 0.08102266736953088),
 ('000025.XSHE', 0.0775347277662462),
 ('600081.XSHG', 0.07423660632656799),
 ('605366.XSHG', 0.07030316201238727),
 ('002181.XSHE', 0.06235803136830719),
 ('002660.XSHE', 0.061426116838487956),
 ('000756.XSHE', 0.0556648199445984),
 ('300651.XSHE', 0.05509812601446071),
 ('002782.XSHE', 0.05277588555858313),
 ('603322.XSHG', 0.052690748249170694),
 ('603069.XSHG', 0.05091976516634051),
 ('600962.XSHG', 0.05070965125709648),
 ('600403.XSHG', 0.050545596258768526),
 ('600552.XSHG', 0.04743947858473006),
 ('003009.XSHE', 0.04622571790540548),
 ('000798.XSHE', 0.04531628829623092)]

[]