In [1]:
# 首先取得所有的股票数据

In [28]:
from datasource import get_codes
from datasource import get_data
import baostock as bs
import pandas as pd
#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

login success!
login respond error_code:0
login respond  error_msg:success

In [4]:
codes = get_codes()

In [ ]:
# 这里先取得一个股票的数据

In [8]:
dt = get_data(codes[0])
dt.head()

,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
date,,,,,,,,,,,,,
2010-01-04,sh.600000,5.233088,5.242676,5.072475,5.079667,5.199527,66191338,1.419984e+09,2,0.835129,1,-2.3052,0
2010-01-05,sh.600000,5.132405,5.173158,4.983779,5.118022,5.079667,115147943,2.436891e+09,2,1.452808,1,0.7551,0
2010-01-06,sh.600000,5.103639,5.106036,5.005354,5.017340,5.118022,96782575,2.034174e+09,2,1.221095,1,-1.9672,0
2010-01-07,sh.600000,5.005354,5.043709,4.866316,4.904671,5.017340,85236072,1.761801e+09,2,1.075414,1,-2.2456,0
2010-01-08,sh.600000,4.875905,4.986176,4.866316,4.959807,4.904671,65707646,1.349532e+09,2,0.829026,1,1.1241,0

In [22]:
last_date = dt.iloc[-1,:].name.strftime('%Y-%m-%d')

In [23]:
last_date

'2025-02-06'

In [33]:
rs = bs.query_history_k_data_plus(codes[0],
    "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST",
    start_date=last_date, # end_date='2021-12-21',
    frequency="d", adjustflag="2")

In [34]:
# 保存在
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)

In [37]:
dt.tail()

,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
date,,,,,,,,,,,,,
2025-01-23,sh.600000,10.11,10.37,10.06,10.31,10.03,65580692,6.709518e+08,2,0.2234,1,2.7916,0
2025-01-24,sh.600000,10.26,10.49,10.17,10.39,10.31,72463834,7.525601e+08,2,0.2469,1,0.7759,0
2025-01-27,sh.600000,10.42,10.70,10.40,10.65,10.39,59488208,6.326946e+08,2,0.2027,1,2.5024,0
2025-02-05,sh.600000,10.66,10.69,10.40,10.41,10.65,51723455,5.423822e+08,2,0.1762,1,-2.2535,0
2025-02-06,sh.600000,10.38,10.50,10.30,10.43,10.41,38598431,4.008189e+08,2,0.1315,1,0.1921,0

In [36]:
result.head()

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2025-02-06,sh.600000,10.3800000000,10.5000000000,10.3000000000,10.4300000000,10.4100000000,38598431,400818916.7100,2,0.131500,1,0.192100,0
1,2025-02-07,sh.600000,10.4300000000,10.4500000000,10.3000000000,10.3400000000,10.4300000000,45600119,472723880.7700,2,0.155400,1,-0.862900,0
2,2025-02-10,sh.600000,10.3200000000,10.4400000000,10.2300000000,10.2700000000,10.3400000000,41234671,426297964.4000,2,0.140500,1,-0.677000,0
3,2025-02-11,sh.600000,10.2900000000,10.3800000000,10.2300000000,10.3000000000,10.2700000000,34651727,356843469.5200,2,0.118100,1,0.292100,0
4,2025-02-12,sh.600000,10.3200000000,10.4200000000,10.2400000000,10.4100000000,10.3000000000,33100308,342797073.5200,2,0.112800,1,1.068000,0

In [41]:
dt.iloc[-1, 1]

10.38

In [42]:
result.loc[0, 'open']

'10.3800000000'

In [43]:
float(result.loc[0, 'open'])

10.38

In [44]:
 float(result.loc[0, 'open']) == dt.iloc[-1, 1]

True

In [45]:
result.tail()

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
12,2025-02-24,sh.600000,10.2700000000,10.3100000000,10.1900000000,10.2100000000,10.2900000000,43741415,447600690.0000,2,0.149000,1,-0.777500,0
13,2025-02-25,sh.600000,10.2000000000,10.2500000000,10.0700000000,10.1000000000,10.2100000000,37159866,377213136.9500,2,0.126600,1,-1.077400,0
14,2025-02-26,sh.600000,10.1500000000,10.3200000000,10.1200000000,10.1800000000,10.1000000000,55536705,567601087.6200,2,0.189200,1,0.792100,0
15,2025-02-27,sh.600000,10.2200000000,10.2600000000,10.1100000000,10.2400000000,10.1800000000,37999169,387232885.4000,2,0.129500,1,0.589400,0
16,2025-02-28,sh.600000,10.2300000000,10.3000000000,10.1700000000,10.1700000000,10.2400000000,44651100,457102787.8200,2,0.152100,1,-0.683600,0

In [47]:
import os
csv_path = os.path.join("k线数据", f'{codes[0]}.csv')
dt3 =  pd.read_csv(csv_path,sep=',')  # 这里仅仅是读取
dt3.head()

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2010-01-04,sh.600000,5.233088,5.242676,5.072475,5.079667,5.199527,66191338,1.419984e+09,2,0.835129,1,-2.3052,0
1,2010-01-05,sh.600000,5.132405,5.173158,4.983779,5.118022,5.079667,115147943,2.436891e+09,2,1.452808,1,0.7551,0
2,2010-01-06,sh.600000,5.103639,5.106036,5.005354,5.017340,5.118022,96782575,2.034174e+09,2,1.221095,1,-1.9672,0
3,2010-01-07,sh.600000,5.005354,5.043709,4.866316,4.904671,5.017340,85236072,1.761801e+09,2,1.075414,1,-2.2456,0
4,2010-01-08,sh.600000,4.875905,4.986176,4.866316,4.959807,4.904671,65707646,1.349532e+09,2,0.829026,1,1.1241,0

In [48]:
dt3.iloc[-1,0]

'2025-02-06'