In [1]:
import pandas as pd
import numpy as np
import matplotlib
# matplotlib.use('agg')
import matplotlib.pyplot as plt
%matplotlib inline
import os
from tqdm import tqdm
import talib

In [2]:
# 这里导入数据
df = pd.read_csv("../数据获取/聚宽数据/最新数据.csv")
df.columns = ['id','i', 'Date','Open','High','Low','Close','Volume']
df.head()

            id  i        Date  Open  High   Low  Close      Volume
0  000001.XSHE  0  2018-12-24  8.91  8.96  8.83   8.93  53694517.0
1  000001.XSHE  1  2018-12-25  8.81  8.94  8.73   8.86  61867885.0
2  000001.XSHE  2  2018-12-26  8.87  8.93  8.79   8.82  44415942.0
3  000001.XSHE  3  2018-12-27  8.96  9.00  8.80   8.80  65873247.0
4  000001.XSHE  4  2018-12-28  8.83  8.97  8.83   8.89  60812019.0

In [3]:
codes = list(set(df['id'])) # 这里是所有的股票列表
#
days = 20 # 最多5天的
rises = [[] for _ in range(days)] # 几天的涨幅都在这里边。 
with tqdm(total=len(set(df['id']))) as pbar:
    for id in codes:
        # 对每一个股票进行遍历
        df2 = df[df['id'] == id].copy() # 这里要重新生成一个
        # 然后关于收盘价的涨幅，这里也做处理
        df3 = df2
        for i in range(days):
            # 移动指定的天数
            # 隔一天的涨幅情况
            df3['Close{}'.format(i+1)] = df3['Close'].shift(0-(i+1))
            _rise = list((df3['Close{}'.format(i+1)]-df3['Close'])/df3['Close'])
            # 这里需要筛选不是nan的
            _rise = [i for i in _rise if not np.isnan(i)]
            # 添加到这里边。
            rises[i].extend(_rise)
        pbar.update(1)

100%|██████████████████████████████████████████████████████████████████████████████| 4275/4275 [26:04<00:00,  2.73it/s]

In [4]:
# 这里看看两点
[sum(i)/len(i) for i in rises] # 这个是均值

[0.0007676254471390108,
 0.001565791712364923,
 0.002365885094846444,
 0.0031499864756935683,
 0.003924216104295236,
 0.004717132618110417,
 0.005508580951169297,
 0.006275166757356437,
 0.007029481568012795,
 0.007790926625665378,
 0.008586359436339095,
 0.009385280471701053,
 0.010162831359409165,
 0.010954353153841613,
 0.011719967686265067,
 0.012481531538425688,
 0.013236055291662984,
 0.013981244047349097,
 0.014740338038365027,
 0.015501037821756101]

In [5]:
[len([j for j in i if j > 0])/len(i) for i in rises] # 上涨的概率。

[0.48341931878728023,
 0.48167019418710894,
 0.4871857670778998,
 0.48888859903129595,
 0.4911496809787285,
 0.4931778161340377,
 0.4942462421573719,
 0.4949115463154736,
 0.4959016740093245,
 0.49650529156153633,
 0.4976896502823793,
 0.498468573703733,
 0.49874849589402886,
 0.4991914229195649,
 0.499681011594369,
 0.4990390358581445,
 0.49888094932970384,
 0.4986086038252333,
 0.4977407412329862,
 0.49707946308962997]