In [1]:
import pandas as pd
import numpy as np
import matplotlib
# matplotlib.use('agg')
import matplotlib.pyplot as plt
%matplotlib inline
import os
from tqdm import tqdm
import talib

In [2]:
# 这里导入数据
df = pd.read_csv("../数据获取/聚宽数据/最新数据.csv")
df.columns = ['id','i', 'Date','Open','High','Low','Close','Volume']
df['id2'] =df['id'].shift()
df['i'] = range(len(df))
ids = list(df.loc[df['id'] != df['id2'], 'i']) # 这个是单个股票序号的起始。
ids.append(len(df)-1) # 添加最后1天。
df.head()

,id,i,Date,Open,High,Low,Close,Volume,id2
0,000001.XSHE,0,2018-12-24,8.91,8.96,8.83,8.93,53694517.0,NaN
1,000001.XSHE,1,2018-12-25,8.81,8.94,8.73,8.86,61867885.0,000001.XSHE
2,000001.XSHE,2,2018-12-26,8.87,8.93,8.79,8.82,44415942.0,000001.XSHE
3,000001.XSHE,3,2018-12-27,8.96,9.00,8.80,8.80,65873247.0,000001.XSHE
4,000001.XSHE,4,2018-12-28,8.83,8.97,8.83,8.89,60812019.0,000001.XSHE

In [3]:
after_days = 20 # 未来5天的
after_up = [[] for _ in range(after_days)]  # 几天关于上涨的
with tqdm(total=len(set(df['id']))) as pbar:
    for j in range(len(ids)-1):
        # 对每一个股票进行遍历
        df2 = df.iloc[ids[j]:ids[j+1],:].copy() # 这里筛选一只股票。
        for i in range(after_days):
            df2['Close{}'.format(i+1)] = df2['Close'].shift(0-(i+1)) # 未来的收盘价移动
        df2.dropna(axis=0, how='any', inplace=True) # 我这里不需要这个空值，直接删除吧。
        for i in range(after_days):
            after_up[i].extend(((df2['Close{}'.format(i+1)]-df2['Close'])/df2['Close']*100).tolist())
        pbar.update(1)

100%|██████████████████████████████████████████████████████████████████████████████| 4275/4275 [04:34<00:00, 15.58it/s]

In [10]:
for i in range(after_days):
    print("往后{:2d}, \t平均涨幅:{:.2f}%, \t胜率:{:.2f}%, \t涨9%以上的概率:{:.2f}%,\t涨0%-9%的概率:{:.2f}%".format(
        i+1,
        sum(after_up[i])/len(after_up[i]),
        len([i for i in after_up[i] if i > 0])/len(after_up[i])*100,
        len([i for i in after_up[i] if i > 9])/len(after_up[i])*100,
        len([i for i in after_up[i] if i > 0 and i < 9])/len(after_up[i])*100,
        len([i for i in after_up[i] if i > 0])/len(after_up[i])*100
    ))

往后 1, 	平均涨幅:0.08%, 	胜率:48.37%, 	涨9%以上的概率:1.90%,	涨0%-9%的概率:46.47%
往后 2, 	平均涨幅:0.17%, 	胜率:48.24%, 	涨9%以上的概率:3.33%,	涨0%-9%的概率:44.91%
往后 3, 	平均涨幅:0.25%, 	胜率:48.86%, 	涨9%以上的概率:5.07%,	涨0%-9%的概率:43.79%
往后 4, 	平均涨幅:0.34%, 	胜率:49.08%, 	涨9%以上的概率:6.79%,	涨0%-9%的概率:42.29%
往后 5, 	平均涨幅:0.42%, 	胜率:49.35%, 	涨9%以上的概率:8.32%,	涨0%-9%的概率:41.04%
往后 6, 	平均涨幅:0.51%, 	胜率:49.55%, 	涨9%以上的概率:9.68%,	涨0%-9%的概率:39.87%
往后 7, 	平均涨幅:0.59%, 	胜率:49.66%, 	涨9%以上的概率:10.98%,	涨0%-9%的概率:38.68%
往后 8, 	平均涨幅:0.67%, 	胜率:49.73%, 	涨9%以上的概率:12.18%,	涨0%-9%的概率:37.55%
往后 9, 	平均涨幅:0.75%, 	胜率:49.83%, 	涨9%以上的概率:13.31%,	涨0%-9%的概率:36.52%
往后10, 	平均涨幅:0.83%, 	胜率:49.90%, 	涨9%以上的概率:14.35%,	涨0%-9%的概率:35.55%
往后11, 	平均涨幅:0.91%, 	胜率:49.99%, 	涨9%以上的概率:15.34%,	涨0%-9%的概率:34.65%
往后12, 	平均涨幅:0.98%, 	胜率:50.04%, 	涨9%以上的概率:16.25%,	涨0%-9%的概率:33.79%
往后13, 	平均涨幅:1.06%, 	胜率:50.04%, 	涨9%以上的概率:17.13%,	涨0%-9%的概率:32.91%
往后14, 	平均涨幅:1.13%, 	胜率:50.06%, 	涨9%以上的概率:17.91%,	涨0%-9%的概率:32.15%
往后15, 	平均涨幅:1.20%, 	胜率:50.09%, 	涨9%以上的概率:18.64%,	涨0%-9%的概率:31.45%
往后16, 	平均涨幅:1.27%, 	胜率:49.99%, 	涨9%以上的概率:19.33%,	涨0%-9%的概率:30.66%
往后17, 	平均涨幅:1.34%, 	胜率:49.94%, 	涨9%以上的概率:19.95%,	涨0%-9%的概率:29.99%
往后18, 	平均涨幅:1.41%, 	胜率:49.89%, 	涨9%以上的概率:20.53%,	涨0%-9%的概率:29.36%
往后19, 	平均涨幅:1.48%, 	胜率:49.78%, 	涨9%以上的概率:21.14%,	涨0%-9%的概率:28.64%
往后20, 	平均涨幅:1.55%, 	胜率:49.71%, 	涨9%以上的概率:21.71%,	涨0%-9%的概率:28.00%

# 小结

这个总结就是，对于平均一致股票而言，1-20天，上涨的概率差不多是近50%，但是随着时间的推移，比如到20天，涨9%的概率是超过20%了。